#index{
	padding: 0;
	margin: 0;
	background-color: #00738a;
	color: white;
	width: 100%;
}
#index h1{
	text-align: center;
	font-size: 50px;
}
#index header {
	text-align: center;
}
/*NAV BAR*/
#nav .navbar{
	background-color: #b3cbb9;
	font-size: 20px;
	color: #b3cbb9;
}
#nav a{
	color: #00738a;
}
#nav .active{
	background-color: #f7fff6;
}
#nav .navbar-brand{
	font-size: 30px;
}
img{
	width: 100%;
	height: 100%;
}
#index section{
	margin: 10px;
	background-color: #f7fff6;
	color: black;
}
#index input{
	border: 4px solid #b3cbb9;
}
#index .volunteer{
	text-align: center;
	padding: 5px auto;
	margin: auto;
}
.volunteer a{
	color: #00738a;
	background-color: #ffff82;
	padding: 10px;
	font-size: 30px;
	border-radius: 15px;
}
#index .volunteer h2{
	margin-top: 10px;
}
#index .donte-btn{
	background-color: #00738a;
	margin: 20px auto 40px;
	color: white;
}

/*Donate Form*/
#index section{
margin: 80px 40px;
}
.donate{
	padding: 80px 30px 20px;
	border-radius: 35px;
	border: 5px solid white;
}
.donate-para{
	background-color: #00738a;
	margin-bottom: 10px;
	top: 70px;
	padding: 10px;
}

#index .volunteer{
	margin: 40px auto;
}
#index .radio-btn{
	font-size: 25px;
	text-align: center;
}
#index .submit-form{
	margin: auto;
}
#index .submit-form a{
	text-align: center;
	color: white;
	background-color: #00738a;
	font-size: 40px;
	border-radius: 15px;
}
.submit-form{
	text-align: center;
}
.donte-btn{
	text-align: center;
}