#volunteer-pg{
	padding: 0;
	margin: 0;
	background-color: #00738a;
	color: white;
}
#volunteer-pg h1{
	text-align: center;
	font-size: 50px;
}
#volunteer-pg header {
	text-align: center;
}
img{
	width: 100%;
	height: 100%;
}
#volunteer-pg section{
	margin: 10px;
	background-color: #f7fff6;
	color: black;
}
#volunteer-pg input{
	border: 2px solid blue;
}
#volunteer-pg .volunteer{
	text-align: center;
	padding: 5px auto;
	margin: auto;
}
.volunteer a{
	color: white;
	background-color: green;
	padding: 10px;
	font-size: 25px;
}
#volunteer-pg .volunteer h2{
	margin-top: 10px;
}
/*Volunteer PAGE*/
#volunteer-pg{
	background-color: #00738a;
	color: white;
}

/*Donate Form*/
#ivolunteer-pg .donte-btn{
	background-color: blue;
	margin: 20px auto 40px;
}
#index .volunteer{
	margin: 40px auto;
}
#index .radio-btn{
	font-size: 25px;
	text-align: center;
}
#index .submit-form{
	margin: auto;
}
#index .submit-form a{
	text-align: center;
	color: white;
	background-color: blue;
	font-size: 40px;
}