#index{
    
}
.body{
    background-color: #3a4d5e;
}
header{
    background-color: white;
    color: 00302c;
    margin: 0;
    padding: 10px;
}
#index header h3{
    color: gold;
}
#index h1{
    font-size: 70px;
}
#index h2{
    
}
#index h3{
    font-size: 35px;
    color: white;
}
.border{
    height: auto;
    margin-bottom: 20px;
}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}
img{
    width: 100%;
    height: auto;
}
.box-1{
    background-color: rgba(0,0,0,0.1);
    color: gold;
    border: solid #3a4d5e 10px;
    margin: 0;
    display: block;
}
.box-2{
    background-color: black;
    color: white;
    border: solid green 1px;
    margin: 0;
}
.box-3{
    color: gold;
    margin: -15px;
}

footer .box-3{
    margin-top: 10px;
    border: 0;
    margin: 10px 0;
    padding-top: 20px;
    background-color: #3a4d5e;
}