html{
    padding: 0;
    margin: 0;
    background: #00302c;
}
#index .body{
    background-color: #3a4d5e;
    width: 100%;
    margin: 0;
    padding: 0;
}
#index header{
    background-color: white;
    color: #00302c;
    margin: 0;
    padding: 10px;
    border: #3a4d5e solid 2px;
    width: 100%;
}
a{
    font-size: 20px;
    color: #00302c;
}
p{
    font-size: 18px;
}
#index h1{
    font-size: 70px;
}
#index h2{
    font-size: 40px;
    color: gold;
}
#index h3{
    font-size: 33px;
    color: white;
}
.border{
    height: auto;
    margin-bottom: 20px;
}
.row{
    margin: 0 !important;
    width: 100%;
}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}
img{
    width: 100%;
    height: auto;
}
.box-1{
    background-color: #00302c;
    color: gold;
    border: solid #3a4d5e 2px;
    margin: 0;
    display: block;
}
.box-3{
    color: gold;
}

footer{
    margin: 10px 0;
    padding-top: 40px;
    background-color: #00302c;
    border-top: gold 5px solid;
}
footer h4{
    margin-bottom: 20px;
}
footer p{
    margin: 20px 40px;
    text-align: center;
}

.all-sites p{
    font-size: 15px;
    color: gold;
}
.all-sites h5{
    font-size: 22px;
    color: white;
}
.all-sites a{
    background: #3a4d5e;
}
a :hover{
    color: #00302c;
}