body{

	color: white;
	font-size: 18px;
	font-family: 'Poiret One', cursive;
	background-color: black;
	margin: 0;
}
h2{
	font-size: 40px;
	font-family: 'Righteous', cursive;
}
h3{
	font-size: 30px;
	text-align: center;
	font-family: 'Audiowide', cursive;
}
h4{
	font-size: 25px;
	font-family: 'Audiowide', cursive;
}

p{
	padding: 10px;
	margin: 10px 5px;
	font-size: 20px;
}
header,footer{
	background-color: black;
}
section{
	margin: 0;
}

header img{
	margin: auto 80px;
}

.music, .about{
	background-color: #1E223D;
	padding: 20px;
}
.band{
	display: flex;
	flex-wrap: wrap;
	
}
.flex-1{
	display: flex;
	flex-basis: 50%;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.flex-1 img{
	width: 50%;
	height: 400px;
	margin: 10px;
}
.flex-1 div{
	align-self: center;
	width: 40%;
}

ul{
	text-align: center;
	padding: 0;
}
ul li{
	list-style: none;
	font-size: 20px;
}
.albums li{
	font-family: 'Audiowide', cursive;
	font-size: 22px;
}
.band-members li{
	padding: 0;
	margin: 40px;
	font-size: 25px;
	text-align: center;
}