$primary-color:#F2C078;
$secondary-color: #424242;

* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-size: 20px;
    font-family: Roboto;
}

h1 {
    color: rgba(241, 242, 244, 0.78);
    font-weight: bold;
}

header {
    background-color: black;
}

.header-img {
    background-image: url("https://images.unsplash.com/photo-1585861108638-acfd851467a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 500px;
}

nav {
    background: rgba(0, 0, 0, 0.691);
    color: #C09862;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

    ul {
        display: flex;
        align-items: baseline;
    }

    div {
        display: flex;
        align-items: flex-end;

        h1 {
            margin-left: 15px;
        }
    }

    li {
        list-style: none;
        padding: 10px;
        font-weight: bold;

    }
}

#form {
    display: flex;
    height: 500px;
    align-items: center;

}

.text-form {
    background: white;
    color: black;
    font-size: 36px;
    padding: 30px;
    p{
        padding: 30px;
    }
    p:nth-child(2){
        font-weight: bold;
        line-height: 48px;
        margin-top: 30px;
        font-size: 40px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    width: 100%;
    flex: 2;

    input {
        width: 334px;
        height: 62px;
        border-radius: 25px;
        box-shadow:0px 5px 10px rgba(0, 0, 0, 0.73);
        text-align: center;
        margin: 30px;
        font-size: 24px;
    }
    a{
        align-self: flex-end;
        padding: 15px;
    }
}