body, header, section{
	margin: 0;
	padding: 0;
	color: #ffe2d1;
	background-color: #225560;
	font-family: 'Orbitron', sans-serif;
}
header{
	width: 100%;
}
h1{
	font-size: 60px;
	text-align: center;
}
h2{
	text-align: center;
	font-size: 40px;
}
h3{
	color: #000505;
	font-size: 30px;
}
p{
	font-size: 22px;
	font-family: 'Economica', sans-serif;
}
.top-box{
	display: flex;
	align-items: flex-end;
	height: 100px;
	position: fixed;
	background-color: #db2b39;
	width: 100%;
}
.top-logo{
	flex: 1;
	padding-top: 20px;
}
.top-logo img{
	width: 150px;
	height: 100px;
	text-align: center;
}
.top-nav{
	flex: 1;
	align-self: flex-end;
	flex-basis: 100%;
	text-align: right;
	padding-right: 70px;
}
button{
	padding: 10px 20px;
	margin: 10px;
	font-size: 30px;
	border: 0 solid;
	color: #000505;
	background-color: #fefffc;
	font-family: 'Orbitron', sans-serif;
}
.head-img{
	background-image: url('faygo-img.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: 100%;
	height: 100%;
	padding-top: 900px;
}
.history, .shop, .comment, .footer{
	display: flex;
	align-content: space-between;
	flex-basis: 10%;
}
.history{
	background-color: #fefffc;
	color: #225560;
	padding: 10px 0;
	align-content: flex-start;
}
.history-box-2, .history-box-1{
	flex: 1;
	
}
.history img{
	width: 100%;
	height: 300px;
}
.history-box-3{
	flex: 1;
	padding: 15px;
}
.box, .box-space{
	flex: 1;
	text-align: center;
}
.shop div{
	padding: 0 10px 0 15px;
}
.shop img{
	width: 100%;
	height: 200px;
}
.shop a{
	text-decoration: none;
}
.comment{
	background-color: #fefffc;
}
.box-comment{
	flex: 4;
	text-align: center;
	background-color: #fefffc;
	color: #db2b39;
}
.social-box{
	flex: 1;
	text-align: center;
}
.social-box img{
	width: 50px;
	height: 50px;
	padding: 5px 10px;
}

form{
	background-color: #fefffc;
	font-size: 22px;
}
input{
	padding: 10px 60px;
	margin: 10px;
}
.submit{
	background-color: #db2b39;
	border: none;
	color: white;
	font-size: 18px;
}
.text-box{
	padding: 100px;
	margin-bottom: 10px;
}
footer section{
	background-color: #db2b39;
}
footer{
	background-color: #225560;
}

footer p{
	font-size: 18px;
	padding: 10px;
}
footer a{
	text-decoration: none;
	color: #fefffc;
}