#index h1{
    color: white;
    text-align: center;
    font-size: 60px;
}
#index h2{
    color: black;
    text-align: center;
    font-size: 50px;
}
#index h3, #index p{
    color: #171A28;
    text-align: center;
}
#index h4{
    color: #F08549;
}
address{
    color: #fff;
}
#index ul li{
    text-align: center;
}
.body{
    background-color: #171A28;
    margin: 0;
    padding: 0;
    color: black;
    border: 15px solid #171A28;
}

#index header img{
    width: 90%;
    height: 210px;
}

#index .box-1{
    background-color: #F08549;
    width: 100%;
    margin: 0;
}
#index .box-2{
    background-color: #5D381E;
    width: 100%;
    margin: 0;
}

.box-3{
    background-color: white;
    margin: 0;
    border: white soild;
    width: 100%;
}
.box-dotted{
    color: white;
    border: white dotted;
}

img{
    width: 100%;
}
.height-bar-img{
    height: 280px;
}
#index .footer-1{
    background-color: #171A28;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid green;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #fff;
}

#index footer{
    width: 100%;
    padding-bottom: 0px;
    margin: 0px;
}
#index footer p{
    text-align: left;
    color: white;
}

/*FOOTER SOCIAL MEDIA BUTTONS*/
#index .social-bx{
    padding: 15px;
    margin: 5px;
}
#index .fb-ic {
    background-color: #3d5b99;
    color: white;
    padding: 4px;
}

#index .tw-ic {
    background-color: #00aced;
    color: white;
    padding: 4px;
}

#index .li-ic {
    background-color: #0073a4;
    color: white;
    padding: 4px;
}

#index .gplus-ic {
    background-color: #e25714;
    color: white;
    padding: 4px;
}
#index .git-ic {
    background-color: #000;.
    color: white;
    padding: 4px;
}
#index .ins-ic {
    background-color:  #e95950;
    color: white;
    padding: 4px;
}

#index .icons-sm{
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
}