section{
    margin: 20px;
}
.row{
    display: flex;
    padding: 50px 0;
    flex-wrap: wrap;
}
.row-img{
    flex: 2;
    text-align: center;
}
.row img{
    height: 450px;
}
.row img{
    width: 80%;
}
body > section:nth-child(2) > div:nth-child(2) > div:nth-child(1) > img:nth-child(1) {
    width: 100%;
    height: 100%;
   }
   
   
.actor{
    padding: 20px;
    flex: 1;
    background: #de9a0c;
}
.actor p{
    color: #fff;
}

.cast-row-2{
    display: flex;
    justify-content: space-between;
}
.row-2{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.row-2 .actor, .row-2 img{
    width: 400px;
    box-sizing: border-box;
}
.cast-row-2 .row{
    padding: 0;
}
.cast-row-2 h3{
    font-size: 45px;
}
.cast-row-2 h4{
    font-size: 30px;
}

.row-img-2{
    height: 400px;
    flex: 1;
}




@media (max-width: 767px) {
    body > section:nth-child(2) {
        margin: 0;
       }
       
    .row{
        flex-direction: column;
        padding: 20px 0;
    }
    .row img{
        flex: 1;
        height: auto;
        width: 100%;
    }
    .cast-row-2{
        display: initial;
    }
    .row-2 .actor, .row-2 img{
        width: 100%;
        box-sizing: border-box;
    }
    .row-2{
        margin: 20px 0;
    }
    .row-img-2{
        width: 100%;
    }
    img{
        min-height: 300px;
    }
    .section-3 .row-2{
        flex-direction: column;
    }
}