@import url('https://fonts.googleapis.com/css?family=Economica|Orbitron:900|Teko:300');

* {
	padding: 0;
	margin: 0;
}
body{
    background-color: #a80900;
    
}
h1{
	/* text-align: left; */
	font-size: 150px;
	color: #C2C2C2;
	font-family: 'Orbitron', sans-serif;
}
h2{
	font-family: 'Teko', sans-serif;
	font-size: 90px;
	color: white;
}

h3{
	font-family: 'Teko', sans-serif;
	font-size: 50px;
	color: black;
}
h4{
	font-family: 'Teko', sans-serif;
	font-size: 40px;
	color: C2C2C2;
}
h5{
	font-family: 'Economica', sans-serif;
	font-size: 20px;
	color: C2C2C2;
}

p{
	font-family: 'Economica', sans-serif;
	font-size: 23px;
    color: #DE9A0C;
    
}
section, header{
    margin: 30px;
}
footer{
    background: #DE9A0C;
    margin: 0;
}
footer h5{
    padding: 25px 15px;
}
img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: #C2C2C2;
    list-style: none;
    font-family: 'Orbitron', sans-serif;
	font-size: 30px;
	padding: 10px 20px;
	margin:  10px;
}
header{
    display: flex;
}
header h1{
    order: 2;
}
.navbar{
    order: 1;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    
}
.navbar ul{
    background: #A80900;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.6);
    padding: 10px;
    
}
.navbar li{
    padding: 10px; 
    display: flex;
}
.navbar li:nth-child(3) ul{
    display: none;
}
.active{
    border-bottom: #de9a0c 2px solid;
    color: #DE9A0C;
}
a:hover{
    color: #000;
}
.about-section{
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#banner-img{
    flex: 2;
}
.about-text{
    flex: 1;
    margin: 20px;
}

.main-cast{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.main-cast h2{
    width: 100%;
}
.card{	
	margin: 20px;
	box-sizing: box;
}
img {
	width: 100%;
	height: 100%;	
}
.actor-img {
	width: 250px;
	height: 350px;
}
.actor-name {
	font-size: 24px;
	background: #de9a0c;
	max-width: 250px;
	text-align: left;
	padding: 10px;
	padding-left: 80px;
	margin-left: 60px;
	
	position: relative;
	bottom: 40px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.card h3 {
	font-size: 36px;
	color: #000;	
}
.card h4 {
	font-size: 34px;
	text-align: right;
	/* margin-top: 10px;
	padding-bottom: 10px; */
	color: rgba(41, 43, 44, 0.78);
}

@media (max-width: 767px) {
    body{
        margin: 10px;
    }
    header h1{
        font-size: 64px;
        text-align: right;
        margin: 10px;
    }
    header{
        display: initial;
    }

    .navbar{
        display: flex;
        align-items: baseline;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .navbar li{
        padding: 0px 80px;
        margin: 0;
    }
    .navbar a{
        text-align: left;
    }
    .about-section img{
        margin: 0;
        width: 100%;
        display: none;
    }
	.actor-name{
        padding: 15px;
        padding-left: 40px;
        margin-left: 40px;
        min-width: 220px;
    }
    .actor-name h3{
        font-size: 32px;
    }
    .about-section{
        display: initial;
    }
  
}