#index{
	background-color: black;
	color: white;
    margin: 20px;
}

.header-img{
	width: 100%;
	height: 300px;
}
#index header{
    border-bottom: solid #c78a10 7px;
    padding-bottom: 15px;
}
.header-box{
	padding: 30px;
	width: 100%;
	height: 300px;
	background-color: black;
}
#index .header-box h1{
    font-size: 41px;
    color: #c78a10;
    
}
#index .header-box p{
    font-size: 16px;
}
#index p{
    font-size: 18px;
    font-family: 'Viga', sans-serif;
}
#index h1{
	color: white;
	font-size: 45px;
    font-family: 'Viga', sans-serif;
}

#index h2{
	color: white;
	font-size: 35px;
    color: #C78A10;
    font-family: 'Viga', sans-serif;
}

#index h3{
    font-size: 40px;
    color: #C78A10;
    font-family: 'Teko', sans-serif;
}
#index footer{
    margin: 20px;
    padding: 20px;
    border-top: solid #c78a10 7px;
}

.features p{
    height: 130px;
}
.btn{
    margin-top: 100px;
    color: white;
    font-size: 40px;
    background-color: #c78a10;

}
#index .btn:hover{
    color: black;
    background-color: #a6aab5;
}

