body{
    background-color: #0F3759;
    margin: 2px;
    width: 97%;  
}

header{
    display: block;
    clear: both;
}
footer{
    color: #F1F2F4;
    clear: both;
    padding: 10px;
}
.img-home img{
    height: 450px;
    width: 90%;
    background-position: center;
}

.box{
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    float: left;
    align-content: center; 
}
.ft-box{
    margin-left: 0px;
    margin-right: 60%;
    padding: 15px;
    float: left;
    width: 100%;
    align-content: center;
    border-top: white solid 4px;
}
.box-names{
    padding: 15px;
    margin: 10px;
}

h1{
    text-align: center;
    color: #0CAD92;
    font-size: 80px;
}
h2{
    font-size: 40px;
    color: #436C8E;
    text-align: left;
}

h4{
    text-align: center;
    font-size: 40px;
    color: #436C8E;
}

h3{
    font-size: 25px;
    text-align: center;
    color: #8294A7;
}
h5{
    font-size: 20px;
    color: white;
}
input.btn{
    padding: 18px 25px;
    cursor: pointer;
    background-color: #0CAD92;
    color: #F1F2F4;
    font-size: 35px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
}

input.btn:hover {
    color: #436C8E;
    background: #0F3759;
}
input.box-f{
    background-color: #0F3759;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    align-content: center;
}
.form{
    padding: 90px 50px;
    border-style: solid;
    border-color: #436C8E;
    border-width: 10px;
    background-color: white;
    border-radius: 20px;
}
input.btn-r{
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    background-color: #F1F2F4;
    color: #0CAD92;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
    float: right;
}

.btn-1{
    padding: 5px 10px 10px 10px;
    cursor: pointer;
    background-color: #F1F2F4;
    color: #0CAD92;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #fff;
    
}

input.btn-1:hover {
    color: #436C8E;
    background: #0F3759;
}

input.btn-r:hover {
    color: #436C8E;
    background: #0F3759;
}
img{
    width: 100%;
    margin: 5px;
}