body{
    background-color: #0F3759;
    margin: 15px;
    
}
header{
    display: block;
    clear: both;
}
footer{
    margin-left: 12%;
    color: #F1F2F4;
    clear: both;
    padding: 10px;
}
.box-pit{
    padding: 50px;
    margin: 0px;
    background-image: url(https://hdwallsource.com/img/2014/5/wedding-backgrounds-18440-18907-hd-wallpapers.jpg);
    background-repeat:no-repeat;
	
	background-position: center center;
    line-height: 1.3;
    background-size: 80%;
	padding-top: 90px;
	padding-bottom: 90px;
    
}

img{
    height: 100%;
    width: 100%;
    background-position: center;
}
.box{
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    float: left;
    align-content: center;
    
}
.box-names{
    padding: 15px;
    margin: 10px;
}

h1{
    text-align: center;
    color: #0CAD92;
    font-size: 80px;
    
}
h2{
    font-size: 40px;
    color: #436C8E;
    text-align: left;
    
}

h4{
    text-align: center;
    font-size: 40px;
    color: #436C8E;
}

h3{
    font-size: 25px;
    text-align: center;
    color: #8294A7;
}
input.btn{
    padding: 18px 25px;
    cursor: pointer;
    background-color: #0CAD92;
    color: #F1F2F4;
    font-size: 35px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
    
}

input.btn:hover {
    color: #436C8E;
    background: #0F3759;
}
input.box-f{
    background-color: #0F3759;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    align-content: center;
}
.form{
    padding: 90px 50px;
    border-style: solid;
    border-color: #436C8E;
    border-width: 10px;
    background-color: white;
    border-radius: 20px;
}
input.btn-r{
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    background-color: #F1F2F4;
    color: #0CAD92;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
    float: right;
    
}

.btn-1{
    padding: 5px 10px 10px 10px;
    cursor: pointer;
    background-color: #F1F2F4;
    color: #0CAD92;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #fff;
    
}

input.btn-1:hover {
    color: #436C8E;
    background: #0F3759;
}

input.btn-r:hover {
    color: #436C8E;
    background: #0F3759;
}
.col{
    width: 50%;
    float: left;
    
}
.row{
    margin: 9px;
    margin: 10px 9%;
}

.col-r{
    width: 50%;
    float: right;
}

