/* HTML and Body*/

body {
  background-color: #0F3759;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
 }

header {
  display: block;
  clear: both; 
  height: 200px;
}


.box {
  /* Not being used */
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  float: left;
  align-content: center; 
}

footer {
  margin-top: 200px;
  color: #0CAD92;
  padding: 10px;
  background-color: #f1f2f4;
}
footer p{
  margin: 10px 15%;
  padding: 15px;
}

h1 {
  text-align: center;
  color: #0CAD92;
  font-size: 80px; 
}

h2 {
  font-size: 40px;
  color: #436C8E;
  text-align: left; 
}

h4 {
  text-align: center;
  font-size: 40px;
  color: #436C8E; 
}

h3 {
  font-size: 25px;
  text-align: center;
  color: #8294A7; 
}

h5 {
  font-size: 20px;
  color: white; 
}

/*NAVIGATION BAR*/
#nav ul {
  list-style-type: none;
  margin: 10px;
  margin-right: 20px;
  overflow: hidden;
  float: right;
  padding: 5px 30px 5px 10px;
  cursor: pointer;
  background-color: #F1F2F4;
  color: #0CAD92;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 5px; 
}
  #nav ul li {
    float: left;
    margin: 10px; 
  }
#nav a {
  margin: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  background-color: #F1F2F4;
  color: #0CAD92;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #fff;
  border-radius: 5px; 

  width: 100%;
  text-align: center;
  padding: 4px;
  text-transform: uppercase;
  text-decoration: none; 
  display: block;

}

#nav a:hover{
  color: #436C8E;
  background: #0F3759; 
}
#nav .active{
  background-color: #fff;
  color: #0f3759;
}

/*Invitation Page - HOME*/
#invitation header{
  position: relative;
}

#invitation h1{
  font-family: 'Lobster', cursive;
  font-size: 40px;
  padding: 15px;
  margin: 10px;
  margin-left: 150px; 
  position: absolute;

}
#invitation h3{
  color: #0f3759;
  padding: 0;
  margin: 2;
}


#invitation section {
  display: flex;
  width: 100%;
  background-color: #fff;
  margin: auto 0;
}
  #invitation .info {
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 20px;
    flex: 2;
  }
  #invitation .img-home {
    flex: 4;
  }
  .img-home img{
    width: 100%;
  }
    #invitation .info form {
      text-align: center; 
    }

    #invitation .info input {
      padding: 18px 25px;
    cursor: pointer;
    background-color: #0CAD92;
    color: #F1F2F4;
    font-size: 35px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 200px;
    }
   #invitation .info input:hover {
      color: #436C8E;
      background: #0F3759;
  }


/* GALLERY PAGE*/
.gallery-img .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%; 
}
  .gallery-img .wrapper img {
    height: auto;
    margin: 10px; 
  }
  .gallery-img .wrapper .flex-4 {
    flex: 4; 
  }
  .gallery-img .wrapper .flex-1 {
    flex: 1; 
  }
  .gallery-img .wrapper .flex-2 {
    flex: 2; 
  }

#gallery footer {
  padding-top: 30px; 
}

